extends layout

block content
  form.well.form-horizontal(method='post', action='/create', novalidate)
    input(type='hidden', name='fromPage', value='true')
    fieldset
      legend Create some data
      .control-group
        label.control-label(for='data') Data
        .controls
          textarea#data.input-xlarge(name='data', rows=5)
          p Any textual data in form of a string. JSON or XML for example.
      .form-actions
        button#create.btn.btn-primary(type='submit') Create
