extends layout

block append head
  link(rel='stylesheet', href='http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css')
  script(src='http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.js')
  script(src='http://code.jquery.com/jquery.min.js')
  script(src='https://raw.github.com/eirikb/thoth-cli/master/javascript/thoth.jquery.min.js')
  script(src='prettify.js')

block content
  .span8
    form.well.form-horizontal(method='post', action='/create', novalidate)
      input(type='hidden', name='fromPage', value='true')
      fieldset
        legend Create a 
          i thoth
        textarea#data.span5(name='data', rows=8)
        p Any textual data in form of a string. JSON or XML for example.
        button#create.btn.btn-primary(type='submit') Create
  .span4
    img(src='thoth.png')

block append container
  section
    .page-header
      h1 Usage  
        small Some clients can be found on 
          a(href='https://github.com/eirikb/thoth-cli') github
    h2 JavaScript
    .row
      .span12
        p Add this to your scripts:
        pre.prettyprint
          <script src="http://code.jquery.com/jquery.min.js"></script>
          <script src="https://raw.github.com/eirikb/thoth-cli/master/javascript/thoth.jquery.min.js"></script>
        p This should do the trick:
        pre.prettyprint.linenums
          | thoth.create('Hello, world', function(error, id) {
          |   console.log('id:', id);
          |   thoth.read(id, function(error, data) {
          |     console.log(data);
          |   });
          | });
        p Try the previous code snippet in your console on this page!
    h2 curl
    .row
      .span12
        p Create item
        pre.prettyprint
          | $ curl -d "data=Hello, world" http://thoth.jit.su/create
          | 
          | 3dfa0bf09875baaa/1
        p Read item data
        pre.prettyprint
          | $ curl http://thoth.jit.su/read/3dfa0bf09875baaa/1
          | 
          | Hello, world
        p Read item parent data
        pre.prettyprint
          | $ curl http://thoth.jit.su/read/3dfa0bf09875baaa
          | 
          | {"versions":1,"created":1333020739557}
        p Create new version
        pre.prettyprint
          | curl -d "data=Hello, world again" http://thoth.jit.su/create/3dfa0bf09875baaa
          | 
          | 3dfa0bf09875baaa/2
