extends layout

block append head
  link(rel='stylesheet', href='http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css')
  script(src='http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.js')
  script(src='http://code.jquery.com/jquery.min.js')
  script(src='https://raw.github.com/eirikb/thoth-cli/master/javascript/thoth.jquery.min.js')
  script(src='/static/prettify.js')

block content
  .span8
    form.well.form-horizontal(method='post', action='/', novalidate)
      input(type='hidden', name='fromPage', value='true')
      fieldset
        legend Create a 
          i thoth
        textarea#data.span5(name='data', rows=8)
        p Any textual data in form of a string. JSON or XML for example.
        button#create.btn.btn-primary(type='submit') Create
  .span4
    img(src='/static/thoth.png')

block append container
  section
    .page-header
      h1 Usage  
        small Some clients can be found on 
          a(href='https://github.com/eirikb/thoth-cli') github
    h2 JavaScript 
      small Cross-domain
    .row
      .span12
        p Add this to your scripts:
        pre.prettyprint
          <script src="http://code.jquery.com/jquery.min.js"></script>
          <script src="https://raw.github.com/eirikb/thoth-cli/master/javascript/thoth.jquery.min.js"></script>
        p This should do the trick:
        pre.prettyprint.linenums
          | thoth.create('Hello, world', function(error, id) {
          |   console.log('id:', id);
          |   thoth.read(id, function(error, data) {
          |     console.log(data);
          |   });
          | });
        p Try the previous code snippet in your console on this page!
    h2 curl
    .row
      .span12
        p Create thoth parent
        pre 
          | $ curl -d "data=Hello, world" http://thoth.io
        pre.prettyprint 
          | {"id":"b55a829f4ffdcf86","versions":1,"timestamp":1333279933768}
        p Read thoth parent (same result as when creating)
        pre
          | $ curl http://thoth.io/b55a829f4ffdcf86
        pre.prettyprint
          | {"versions":1,"id":"b55a829f4ffdcf86","timestamp":1333279933768}
        p Read thoth version
        pre
          | $ curl http://thoth.io/b55a829f4ffdcf86/1
        pre.prettyprint
          | {"data":"Hello, world","timestamp":1333279934131}
        p Create new version
        pre
          | $ curl -d "data=Hello, world again" http://thoth.io/b55a829f4ffdcf86
        pre.prettyprint
          | {"versions":2,"id":"b55a829f4ffdcf86","timestamp":1333279933768}
        p Read only data of the new thoth version (.timestamp will also work)
        pre
          | $ curl http://thoth.io/b55a829f4ffdcf86/2.data
        pre
          | Hello, world again
