extends layout

block append head
  link(rel='stylesheet', href='http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css')
  script(src='http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.js')
  script(src='/static/prettify.js')

block content
  .span8
    form.well.form-horizontal(method='post', action='/', novalidate)
      input(type='hidden', name='fromPage', value='true')
      fieldset
        legend Create a 
          i thoth
        textarea.span5(name='data', rows=8)
        p Any textual data in form of a string. JSON or XML for example.
        button.btn.btn-primary(type='submit') Create
  .span4
    img(src='/static/img/thoth.png')

block append container
  section#overview
    .page-header
      h1 Overview 
    .row
      .span12
        p 
          :markdown
            **Thoth** is a _CREATE_ and _READ_ database. There are no usernames or passwords, 
            only data stored externally on thoth.io. It is similar to a normal pastebin, 
            except that it can be used externally by anyone for anything. 
            It could for instance be used as backend to a pastebin or even frontend through 
            cross-domain JavaScript. It can also be used as a backup database for your 
            [tiny](https://github.com/chjj/node-tiny) or 
            [nstore](https://github.com/creationix/nstore) databases, 
            just create a _thoth_ and keep pushing whole files to it.
    h2 How it works 
      small Code is available on 
        a(href='https://github.com/eirikb/thoth') Github
    .row
      span12
        .span4
          ul
            li No username or password
            li Support only 
              i CREATE 
              | and
              i READ
            li Support 
              i Cross-domain
              | JavaScript
            li App hosted by 
              a(href='http://nodejitsu.com') nodejitsu.com
            li Data stores in 
              a(href='http://aws.amazon.com/dynamodb') AWS Dynamo DB 
              span (NoSQL)
        .span8
          img.span7(src='/static/img/thoth1.png')

    h2 Examples
    .row
      .span12
        ul.thumbnails
          li.span4
            a.thumbnail(href='http://eirikb.github.com/thoth-cli')
              p Github pages pastebin (thoth frontend)
              img(src='/static/img/ex1.png')
          li.span4
            a.thumbnail(href='http://pivot.jit.su')
              p CSS and JS pivot (thoth backend)
              img(src='/static/img/ex2.png')

  section#api
    .page-header
      h2#api API
    .row
      .span12
        include api

  section#clients
    .page-header
      h1 Clients 
        small Some clients can be found on 
          a(href='https://github.com/eirikb/thoth-cli') github
    h2 JavaScript 
      small Cross-domain
    .row
      .span12
        p Add this to your scripts:
        pre.prettyprint
          <script src="http://code.jquery.com/jquery.min.js"></script>
          <script src="https://raw.github.com/eirikb/thoth-cli/master/javascript/thoth.jquery.min.js"></script>
    h2 Node.js
    .row
      .span12
        pre $ npm install thoth
        p Require the module
        pre.prettyprint.linenums
          | var thoth = require('thoth');

    h2 JavaScript / Node.js client
    .row
      .span12
        p Same code for both Node.js and browser
        pre.prettyprint
          | thoth.create('Hello, world', function(error, parent) {
          |   console.log('id', parent.id);
          | 
          |   thoth.read(parent.id + '/1', function(error, item) {
          |     console.log(item.data);
          |   });
          |   // Same as
          |   thoth.read(parent.id + '/1.data', function(error, data) {
          |     console.log(data);
          |   });
          | 
          |   thoth.create(parent.id, 'Hello, world again', function(error, parent) {
          |     console.log(parent.versions);
          |     thoth.read(parent.id + '/2', function(error, item) {
          |       console.log(item.data);
          |     });
          |   });
          | });

    h2 curl
    .row
      .span12
        p Create thoth parent
        pre 
          | $ curl -d "data=Hello, world" http://thoth.io
        pre.prettyprint 
          | {"id":"bb47de3a8ed6ba24","versions":1,"timestamp":1333627065171}
        p Read thoth parent (same result as when creating)
        pre
          | $ curl http://thoth.io/bb47de3a8ed6ba24
        pre.prettyprint
          | {"versions":1,"id":"bb47de3a8ed6ba24","timestamp":1333627065171}
        p Read thoth version
        pre
          | $ curl http://thoth.io/bb47de3a8ed6ba24/1
        pre.prettyprint
          | {"version":1,"timestamp":1333627065268,"data":"Hello, world"}
        p Create new version
        pre
          | $ curl -d "data=Hello, world again" http://thoth.io/bb47de3a8ed6ba24
        pre.prettyprint
          | {"versions":2,"id":"bb47de3a8ed6ba24","timestamp":1333627065171}
        p Read only data of the new thoth version (.timestamp will also work)
        pre
          | $ curl http://thoth.io/bb47de3a8ed6ba24/2.data
        pre
          | Hello, world again
        p Read the last version
        pre
          | $ curl http://thoth.io/bb47de3a8ed6ba24/-1.data
        pre
          | Hello, world again

