extends layout

block append head
  link(rel='stylesheet', href='http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css')
  script(src='http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.js')
  script(src='http://code.jquery.com/jquery.min.js')
  script(src='https://raw.github.com/eirikb/thoth-cli/master/javascript/thoth.jquery.min.js')
  script(src='/static/prettify.js')

block content
  .span8
    form.well.form-horizontal(method='post', action='/', novalidate)
      input(type='hidden', name='fromPage', value='true')
      fieldset
        legend Create a 
          i thoth
        textarea.span5(name='data', rows=8)
        p Any textual data in form of a string. JSON or XML for example.
        button.btn.btn-primary(type='submit') Create
  .span4
    img(src='/static/thoth.png')

block append container
  section#overview
    .page-header
      h1 Overview 
    .row
      .span12
        p 
          :markdown
            **Thoth** is a _CREATE_ and _READ_ database. There are no usersnames or passwords, 
            only data. It is similar to a normal pastebin, 
            except that it can be used by anyone and for anything. 
            It could for instance be used as backend to a pastebin or even frontend through 
            cross-domain JavaScript. It can also be used as a backup database for your 
            [tiny](https://github.com/chjj/node-tiny) or 
            [nstore](https://github.com/creationix/nstore) databases, 
            just create a _thoth_ and keep pushing whole files to it.
    h2 Examples
    .row
      .span12
        ul.thumbnails
          li.span4
            a.thumbnail(href='http://eirikb.github.com/thoth-cli')
              p Github pages pastebin (thoth frontend)
              img(src='/static/ex1.png')
          li.span4
            a.thumbnail(href='http://pivot.jit.su')
              p CSS and JS pivot (thoth backend)
              img(src='/static/ex2.png')
    h2 How it works
    .row
      span12
        .span4
          ul
            li No username or password
            li Support only 
              i CREATE 
              | and
              i READ
            li Support 
              i Cross-domain
              | JavaScript
            li App hosted by 
              a(href='http://nodejitsu.com') nodejitsu.com
            li Data stores in 
              a(href='http://aws.amazon.com/dynamodb') AWS Dynamo DB 
              span (NoSQL)
        .span8
          img.span7(src='/static/thoth1.png')

  section#usage
    .page-header
      h1 Usage  
        small Some clients can be found on 
          a(href='https://github.com/eirikb/thoth-cli') github
    h2 JavaScript 
      small Cross-domain
    .row
      .span12
        p Add this to your scripts:
        pre.prettyprint
          <script src="http://code.jquery.com/jquery.min.js"></script>
          <script src="https://raw.github.com/eirikb/thoth-cli/master/javascript/thoth.jquery.min.js"></script>
        p This should do the trick:
        pre.prettyprint.linenums
          | thoth.create('Hello, world', function(error, id) {
          |   console.log('id:', id);
          |   thoth.read(id, function(error, data) {
          |     console.log(data);
          |   });
          | });
        p Try the previous code snippet in your console on this page!
    h2 curl
    .row
      .span12
        p Create thoth parent
        pre 
          | $ curl -d "data=Hello, world" http://thoth.io
        pre.prettyprint 
          | {"id":"b55a829f4ffdcf86","versions":1,"timestamp":1333279933768}
        p Read thoth parent (same result as when creating)
        pre
          | $ curl http://thoth.io/b55a829f4ffdcf86
        pre.prettyprint
          | {"versions":1,"id":"b55a829f4ffdcf86","timestamp":1333279933768}
        p Read thoth version
        pre
          | $ curl http://thoth.io/b55a829f4ffdcf86/1
        pre.prettyprint
          | {"data":"Hello, world","timestamp":1333279934131}
        p Create new version
        pre
          | $ curl -d "data=Hello, world again" http://thoth.io/b55a829f4ffdcf86
        pre.prettyprint
          | {"versions":2,"id":"b55a829f4ffdcf86","timestamp":1333279933768}
        p Read only data of the new thoth version (.timestamp will also work)
        pre
          | $ curl http://thoth.io/b55a829f4ffdcf86/2.data
        pre
          | Hello, world again
