extends layout

block content
  form.well.form-horizontal(method='post', action='/create', novalidate)
    fieldset
      legend Create some data
      .control-group
        label.control-label(for='data') Data
        .controls
          textarea#data.input-xlarge(name='data', rows=5)
          p Any textual data in form of a string. JSON or XML for example.
      .form-actions
        button.btn.btn-primary(type='submit') Create
        p
          span#info.label.label-info.hide
        p
          a#raw.hide
        p
          a#edit.hide
