!!! 5
html
  head
    block head
      title Thoth Database
      meta(charset='utf-8')

      link(rel='stylesheet', href='http://twitter.github.com/bootstrap/assets/css/bootstrap.css')
      script(src='http://code.jquery.com/jquery.min.js')
      script(src='jquery.address-1.4.min.js')
      script(src='main.js')
  body
    .container
      .row
        .span12
          header.jumbotron.subhead
            h1 Thoth 

      section
        .row
          .span12
            block content
