!!! 5
html
  head
    block head
      title Thoth Database
      meta(charset='utf-8')

      link(rel='stylesheet', href='/united.min.css')
      style .title h1 { padding-top: 60px; }
      include tracking.jade
  body
    .container
      block container
        .row
          .span12
            header.title
              h1 
                a(href='/') Thoth 
                small Free open public create-read database
        section
          .row
            block content
