!!! 5
html
  head
    block head
      title Thoth Database
      meta(charset='utf-8')

      link(rel='stylesheet', href='http://twitter.github.com/bootstrap/assets/css/bootstrap.css')
  body
    .container
      .row
        .span12
          header.jumbotron.subhead
            h1 
              a(href='/') Thoth 

      section
        .row
          .span12
            block content
